.PomocPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: 36px;
  padding: 10px 0;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: url('/images/hero.webp');
  background-position-y: 20%;
  transition: height 0.3s ease-in-out;
}
.zatamni{
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(to top, #000000c9, #0000006e);
  position: absolute;
  top: 0;
  z-index: 1;
}
.navbar div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  align-self: center;
  width: 700px;
}
.navbar div a{
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  transition: all 0.3s ease-in-out;
}
.navbar a:hover {
  color: #0AADFF;
}
.navbar div a p{
  display: none;
}

.navbar.open{
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.navbar.open div{
  
}
.navbar.open a{
  z-index: 5;
  background: #ffffffb0;
  height: 200px;
  width: 300px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(11, 3, 46);
  transition: transform 0.3s ease-in-out;
}
.navbar.open a:hover {
  transform: scale(1.05);
}
.navbar.open div a p{
  display: flex;
  text-align: center;
  font-weight: 500;
}
.navbar.open .naslov{
  font-size: 20px;
  font-weight: 600;
  color: #2c0074;
}
.navbar .otvoriIkona{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 28px;
  right: 10px;
  cursor: pointer;
  z-index: 5;
  color: white;
  font-size: 27px;
  transition: transform 0.3s ease-in-out;
}
.navbar.open .otvoriIkona{
  transform: translate(-50%, -50%) rotate(180deg);
  top: 28px;
}
.navbar .ikonaKartice{
  display: none;
}
.navbar.open .ikonaKartice{
  display: flex;
  position: relative;
  color: #3b82f6;
  font-size: 25px;
  margin-bottom: 10px ;
}
@media (max-width: 768px) {
  .navbar{
    display: none;
  }  
}




.sectionsContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.section {
  flex: 0 0 100%;
  height: calc(100vh - 72px); /* prilagodi ako navbar nije 72px */
  scroll-snap-align: start;
  padding: 0 15px;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.section p {
  min-width: 320px;
  width: 60%;
}