html {
  scroll-behavior: smooth;
}
*{

  font-family: 'Poppins', sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
body{
  margin: 0;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  border: none;
  cursor: pointer;
}

/*Switch, za mesecno i godisnje*/
h6 span{
  padding: 0 20px;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
}




.ponuda-usluga {
  background-color: #f7f7f7;
  padding: 60px 20px;
  font-size: 16px;
  color: #333 !important;
  text-align: center;
}

.ponuda-usluga h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.ponuda-usluga .container {
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.6;
}


/*ANIMACIJE*/
.anim, .anim2, .anim3, .anim4{
  opacity: 0;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeSlideInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Sa GORE na dole */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlideInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Sa DOLE na gore */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px); /* Sa LEVE strane */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeSlideInRight {
  0% {
    opacity: 0;
    transform: translateX(20px); /* Sa DESNE strane */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.fade-slide-in-down {
  opacity: 0;
  animation: fadeSlideInDown 1s ease forwards;
}

.fade-slide-in-up {
  opacity: 0;
  animation: fadeSlideInUp 1s ease forwards;
}

.fade-slide-in-left {
  opacity: 0;
  animation: fadeSlideInLeft 1s ease forwards;
}

.fade-slide-in-right {
  opacity: 0;
  animation: fadeSlideInRight 1s ease forwards;
}


.fade-slide-in.delay-1 {
  animation-delay: 0.2s;
}
.fade-slide-in.delay-2 {
  animation-delay: 0.4s;
}
.fade-slide-in.delay-3 {
  animation-delay: 0.6s;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}