*{
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
body{
  margin: 0;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  border: none;
  cursor: pointer;
}

/*Switch, za mesecno i godisnje*/
h6 span{
  padding: 0 20px;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
}