.screen{
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    height: 100vh;
    transition: all 0.2s ease;
    
}

.content{
    display: flex;
    max-width: calc(100% - 200px);
    width: 100%;
    padding: 20px;
    transition: all 0.2s ease;
    overflow: hidden;
}
.content.skupljen{
    max-width: calc(100% - 70px);
}
.content a{
    color: #3b82f6;
}
.child{
    width: 100%;
    max-width: calc(100% - 40px);
}
.param{
    width: calc(100% - 60px);
    padding: 10px 30px;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.param select {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.param select:hover {
    outline: none;
    border-color: #0AADFF;
}

.param select:focus {
    border-color: #0AADFF;
    outline: none;
    box-shadow: 0 0 5px rgba(10, 170, 255, 0.5);
}

.param option {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.param select:disabled {
    background-color: #f4f4f4;
    cursor: not-allowed;
}
.param a {
    position: relative;
    text-decoration: none;
    color: inherit;
}

.param a:hover {
    color: #0AADFF;
}

.param a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #0AADFF;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease;
}

.param a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



.noviTermini{
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #ddd;
}
.noviTermini h2,
.noviTermini p{
    margin-top: 10px;
    margin-left: 10px;
}
.tableContainer {
  max-height: 250px;
  overflow-y: auto;
  margin-top: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  cursor: default;
}

.table thead {
  position: sticky;
  top: -4px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  font-size: 14px;
}

.table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f1f1;
}

.table tbody tr:hover {
  background-color: #eaeaea;
}

.table td {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.opis{
    min-width: 200px !important;
}
.tableContainer::-webkit-scrollbar {
  width: 8px;
}

.tableContainer::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.tableContainer::-webkit-scrollbar-thumb {
  background-color: #7e848b;
  border-radius: 10px;
}

.tableContainer::-webkit-scrollbar-thumb:hover {
  background-color: #005ecb;
}








.button1,
.button2 {
    font-family: 'Poppins', sans-serif;
    width: 170px;
    height: 50px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    transition: background-position 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
}

.button1 {
    background: linear-gradient(60deg, #0AADFF 6.25%, #0a7eb8 40.25%, #0088E5 50%, #123484 80.25%);
    background-position: left center;
    background-size: 200% 100%;
    color: white;

}
.button1:hover {
    background-position: right center;
}
.button2 {
    background: linear-gradient(120deg, #0AADFF 6.25%, #0a7eb8 40.25%, #0088E5 50%, #123484 80.25%);
    background-position: right center;
    background-size: 200% 100%;
    color: white;
}
.button2:hover {
    background-position: left center;
}
@media (max-width: 600px) {
    .content{
        padding: 5px;
        margin-left: 72px;
        max-width: calc(100% - 72px);
    }

    .content.skupljen{
        margin-left: 72px;
    }
    .child{
        width: 100%;
        max-width: 96%;
    }
    .param select{
        padding: 4px 8px;
        font-size: 14px;
    }
    .button1,
    .button2 {
        font-family: 'Poppins', sans-serif;
        width: 120px;
        height: auto;
        padding: 4px 8px;
        border-radius: 50px;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        transition: background-position 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-tap-highlight-color: transparent;
    }
}


